html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/* .mt-4 {
    margin-top: 6.5rem!important;
} */

span.modaltitle {
    font-size: 20px;
    font-weight: bold;
}

button.btn.btn-success.add-team-btn {
    margin: end;
    margin-bottom: 6px;
}

button.edit-btn {
    border: none;
    color: blue;
    text-decoration-line: underline;
    font-size: 19px;
}
button.delete-btn {
    border: none;
    color: blue;
    text-decoration-line: underline;
    font-size: 19px;
}

span.team-list {
    font-size: 36px;
    color: blue;
   /* // font-family: emoji; */
    padding: auto;
}

.team {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 60%;
    margin: auto;
    margin-top: 48px;
  }
  
  .team td {
    border: 1px solid rgb(85 100 175);
    padding: 3px;
  }
  .team th {
    border: 1px solid rgb(85 100 175);
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #0446aa;
    color: white;
  }
  button.btn.btn-success {
    height: 35px;
    width: 97px;
    /* margin-left: 897px;
    margin-top: 7px; */
}
.heading {
    background-color: #9be1a0;
    height: 48px;
    border-radius: 4px;
    margin-top: 49px;
    text-align: center;
    font-size: 20px;
    width: 81%;
    margin-left: 110px;
}
.row.heading {
    padding-top: 11px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
